:root {
    --main-color: #FFA801;
    --sub-color: #F5F5F5;
    --main-text-color: #999999;

    --business-bg-01: #2F837D;
    --business-bg-02: #D89349;
    --business-bg-03: #3387BC;
    --business-bg-05: #D37740;
    --business-bg-06: #666666;
    --business-bg-07: #4C9047;
    --business-bg-08: #AFA489;
}

body {
    background-color: #FFFFFF;
    font-family: "Microsoft YaHei", 'Times New Roman', Times, serif;
    font-size: 0.85rem;
    text-align: center;
    padding: 0;
    margin: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: var(--main-color);
    text-decoration: none;
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar {
    background-color: var(--main-color);
}

.navbar-brand {
    color: #FFFFFF;
    padding: 0;
    float: left;
}

.navbar-brand h1 {
    font-size: 1.1rem;
    font-weight: bold;
    text-shadow: 2px 2px 2px #777777;
    letter-spacing: 1px;
}

.navbar-brand p {
    font-size: 0.8rem;
    margin: 0;
}

.navbar-brand:hover {
    color: #000000;
    text-align: left;
}

.navbar-collapse {
    float: right;
}

.navbar-nav {
    float: right;
}

.navbar-nav .active {
    font-weight: bold;
    font-size: .95rem;
}

.navbar-nav li {
    font-size: .9rem;
    line-height: 1.2rem;
}

.navbar-nav li a {
    color: #FFFFFF;
}

.navbar-nav li a:hover {
    font-weight: bold;
    color: #000000;
}

.navbar-nav li a.dropdown-item {
    font-size: .8rem;
    color: #333333;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-nav .btn-ex {
    text-decoration: none;
    margin-left: 2rem;
    background-color: #FFFFFF;
    padding: 0px 5px;
    border-radius: 3px;
}

.navbar-nav .btn-ex a {
    color: var(--main-color);
}

.navbar-nav .btn-ex a:hover {
    color: #000000;
    font-weight: normal;
    text-decoration: none;
}

.navbar-nav .btn-ex span {
    font-size: 1.5rem;
    line-height: 35px;
}

.banner {
    width: auto;
    background-image: url("../images/banner-1.png");
    background-position: 0 -210px;
    text-align: left;
}

.slogan {
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000000;
    margin-left: 4rem;
}

.slogan1 {
    padding-top: 10rem;
}

.slogan2 {
    margin-left: 8rem;
    margin-top: 1.5rem;
}

.main-business {
    height: 680px;
    position: relative;
}

.main-business .business-list {
    position: absolute;
    left: 30px;
    bottom: -140px;
}

.main-business .business-list img {
    width: 100%;
    background-color: #FFFFFF;
    padding: 4px;
    box-shadow: 2px 2px 4px #999999;
}

.main-business .business-list p {
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
}

.module {
    margin: 30px auto;
}

.module img {
    width: 100%;
}

.module h2 {
    display: inline-block;
    margin-bottom: 30px;
    line-height: 80px;
}

.module h2 span {
    padding-bottom: 1rem;
    border-bottom: solid 2px var(--main-color);
    letter-spacing: .4rem;
}

.module p {
    text-align: left;
    color: var(--main-text-color);
    line-height: 1.8rem;
    text-indent: 1.7rem;
}

.company-profile {
    margin-top: 200px;
}

.sub-business-list {
    margin-top: 40px;
}

.sub-business-list span {
    color: var(--main-color);
    font-size: 2rem;
    margin-bottom: 20px;
}

.sub-business-list p {
    text-indent: 0;
    margin-top: 10px;
    line-height: 1.4rem;
}

.model-bg {
    background-color: var(--sub-color);
    padding: 30px 0;
    margin: 30px auto;
}

.railway {}

.railway .railway-photo {
    height: 340px;
    overflow: hidden;
    text-align: center;
}

.railway .railway-photo img {
    width: auto;
    height: 100%;
}

.railway .railway-content {}

.land {
    text-align: left;
    margin-top: 30px;
}

.land h2.title-2 {
    border-left: solid 4px var(--main-color);
    line-height: 2.4rem;
    margin: 0;
    padding-left: 20px;
    margin-bottom: 30px;
}

.land .land-photo {
    height: 320px;
    overflow: hidden;
    text-align: center;
}

.land .land-photo img {
    width: auto;
    height: 100%;
}

.land .land-content {}

.device {
    display: inline;
    width: auto;
}

.device .device-title {
    display: inline-block;
    margin-bottom: 50px;
}

.device .device-title h2 {
    clear: both;
    margin-bottom: 0;
    line-height: 60px;
}

.device .device-title span {
    border-bottom: solid 2px var(--main-color);
    font-size: 1rem;
    padding-bottom: 1rem
}

footer {
    background-color: #000000;
    padding: 30px 0;
    color: #FFFFFF;
    text-align: left;
}

footer h4 {
    padding-left: 20px;
    border-left: solid 6px var(--main-color);
    margin-bottom: 20px;
}

footer .contact {}

footer .contact p {
    margin: 0;
    line-height: 2rem;
}

.business-show {}

.show-item {
    width: 136px;
    height: 136px;
    margin: 10px;
    padding: 10px;
    position: relative;
}

.show-item span {
    position: absolute;
    bottom: 10px;
    right: 14px;
    font-size: 2rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
}

.bs-1 {
    background-color: var(--business-bg-01);
}

.bs-2 {
    background-color: var(--business-bg-02);
}

.bs-3 {
    background-color: var(--business-bg-03);
}

.bs-4 {
    background-image: url("../images/s_-1.png");
}

.bs-5 {
    background-color: var(--business-bg-05);
}

.bs-6 {
    background-color: var(--business-bg-06);
}

.bs-7 {
    background-color: var(--business-bg-07);
}

.bs-8 {
    background-color: var(--business-bg-08);
}

.copyright {
    background-color: var(--main-color);
    color: #FFFFFF;
    padding: 20px 0;
}

.copyright .container {
    display: inline-block;
}

.icp {
    float: left;
}

.copyright-content {
    float: right;
}